@{
    ViewData["Title"] = "Menu";
}

<div class="text-center">
    <p>DISCOVER OUR MENU</p>
</div>
<div class="text-center">
</div>
<div class="text-center">
</div>
<div class="text-center">
</div>
<div class="text-center">
</div>