@using MyMVCProject.Core.Domain.Enums
@model MyMVCProject.Models.FoodModel.FoodResponse

@{
    ViewData["Title"] = "DeleteFood";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Food delete</title>
    <link rel="stylesheet" href="~/css/Register.css">
    <link rel="stylesheet" href="~/css/Create.css">
</head>
<body>
    <div class="container-outer">
        @if (TempData["ErrorMessage"] != null)
        {
            <p class="alert">@TempData["ErrorMessage"]</p>
        }
        <div class="container">
            <div class="reg">
                <h2>Delete Food</h2>
            </div>
            <form class="wrapper" method="post" enctype="multipart/form-data">

                <div class="form-control">
                    <label>Name</label>
                    <input class="input" type="text" name="Name" value="@Model.Name" readonly>
                </div>
                <div class="form-control">
                    <label> Price</label>
                    <input class="input" type="text" name="Price" value="@Model.Price" readonly>
                </div>
                <div class="form-control">
                    <label> Quantity</label>
                    <input class="input" type="text" name="Quantity" value="@Model.Quantity" readonly>
                </div>
                <div class="form-control">
                    <input class="submit" type="submit" value="Delete">
                    <input class="submit" type="submit" value="Return" asp-action="GetAllFood">
                </div>
            </form>
        </div>

    </div>
</body>
</html>

