@model MyMVCProject.Models.OrderModel.OrderItemResponse

@{
    ViewData["Title"] = "RemoveOrderItem";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>OrderItem delete</title>
    <link rel="stylesheet" href="~/css/Register.css">
    <link rel="stylesheet" href="~/css/Create.css">
</head>
<body>
    <div class="container-outer">
        <div class="container">
            @if (TempData["ErrorMessage"] != null)
            {
                <p class="alert">@TempData["ErrorMessage"]</p>
            }
            <div class="reg">
                <h2>Remove Order Item</h2>
            </div>
            <form class="wrapper" method="post" enctype="multipart/form-data">
                <div class="form-control">
                    <label>Name</label>
                    <input class="input" type="text" name="FoodName" value="@Model.FoodName" readonly>
                </div>
                <div class="form-control">
                    <label> Price</label>
                    <input class="input" type="text" name="UnitPrice" value="@Model.UnitPrice" readonly>
                </div>
                <div class="form-control">
                    <label> Quantity</label>
                    <input class="input" type="text" name="Units" value="@Model.Units" readonly>
                </div>
                <div class="form-control">
                    <input class="submit" type="submit" value="Remove">
                    <input class="submit" type="submit" value="Return" asp-action="GoBack" asp-controller="User">
                </div>
            </form>
        </div>

    </div>
</body>
</html>